@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIL Workflow</h1>
    <p class="lead">A whole new world of translation possibilities</p>
    <p><a href="/step" class="btn btn-primary btn-lg">Get started &raquo;</a></p>
</div>